body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100;
    margin: 0;
}

#popup-container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(155,255,155);
}
